@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');

body {
  padding-top: 17%;
  font-family: 'Montserrat', sans-serif;
  background: #f9f9f9;
}

h1, h2, h3, h4{
  font-family: 'Karla', sans-serif;
}

.navbar {
  background: rgba(249, 249, 249, 0.98);
  padding:2%;
}

.logo {
  width: 40vw;
}

.nav-item {
  text-align: center;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}

.content {
  margin-top: 6%;
}

.content-title {
  text-align: center;
  padding-bottom: 4%;
}

.content-body {
  padding-left: 5%;
  padding-right: 5%;
}



.split-list{
  padding: 3%;
  border: 3px solid #f2f2f2;
  border-radius: 15px;
}

.about{
  padding-top: 3%;
}

.about-icon{
  max-height: 28px;
  margin:8px;
}

.footer{
  text-align: center;
}


.the-end {
  margin: 5%;
  padding-top:1%;
}

.float-right{
  display: inline;
  float:right;
}
/* for smaller ipads/small monitors */
@media (min-width: 768px) {
  body {
    padding-top: 9%;
  }
  .logo {
    width: 40%;
  }

  .content-thumbnail{
    object-fit:cover;
    width:900px;
    height:400px;
  }
 }


/* for laptops */
@media (min-width: 992px) {
  body {
    padding-top: 10%;
  }
  .navbar {
    padding-top:1%;
    padding-bottom:1%;
    background: rgba(249, 249, 249, 0.98);
  }
  .logo {
    width: 40%;
  }

  .content-body {
    padding-left: 15%;
    padding-right: 15%;
  }

  .content-title {
    padding-bottom: 2%;
  }

  .content-thumbnail{
    object-fit:cover;
    width:900px;
    height:450px;
  }


  .about-content{
    padding-top:4%;
  }

  .fresco-thumbnail{
    object-fit: cover;
    height:1px;
  }

  .the-end{
    margin:1%;
  }
}

/* for ipad pro and bigger laptops */
@media (min-width: 1024px) {
  body{
    padding-top: 4%;
  }
  .logo {
    width: 30%;
  }


}

/* XXL */
@media (min-width: 1440px) {
  body{
    padding-top: 4%;
  }
  .logo {
    width: 40%;
  }

}
